<div style="width:100%; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align:center">
    <div style="height:600px; width:100%;background-image: url('images/reinvent_map.jpg'); background-repeat:no-repeat;">
        <img style="margin-top:170px;" alt="AWS logo" src="images/aws_logo.png" />

        <h1 style="color:white; margin-bottom:20px">Brick & Mortar Shop Customer Sentiment</h1>

        <form data-ng-submit="login()"> 
            <div class="btn-group" style="z-index: 200">
                <input style="width: 200px; font-size: 18px;" type="submit" class="btn btn-default" value="Enter >>" />
            </div>
        </form>
    </div>
</div>
